{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "plugins": ["react", "@typescript-eslint", "prettier"],
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jasmine": true,
        "jest": true
    },
    "globals": {
        "Promise": true,
        "APP_BASEHREF": true
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "lf"
            }
        ],
        "no-console": "warn",
        "@typescript-eslint/explicit-function-return-type": [
            0,
            {
                "allowTypedFunctionExpressions": true
            }
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-var-require": "off",
        "@typescript-eslint/camelcase": "warn",
        "@typescript-eslint/no-use-before-define": "warn",
        "@typescript-eslint/explicit-member-accessibility": "warn"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
