$TRBL: top, right, bottom, left;

$color-primary: #007bff !default;
$color-secondary: #6c757d !default;
$color-success: #28a745 !default;
$color-error: #dc3545 !default;
$color-warning: #ffc107 !default;
$color-info: #17a2b8 !default;
$color-dark: #343a40 !default;
$color-light: #f8f9fa !default;
