a {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

.markdown-body {
    color: inherit;
}

.dark {
    .markdown-body {
        pre {
            background-color: #424242;
        }
    }
}