a {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

.markdown-body {
    color: inherit;
}

.screen-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.dark {
    .markdown-body {
        pre {
            background-color: #424242;
        }
    }
}